html {
    height: 80%;
}

body {
    display: flex;
    background-color: #222f3e;
    /* color: #1e272e; */
    color: #ffffff;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    height: 100%;
}

button {
    border: 0;
    background: none;
}

input {
    font-size: 20px;
    /* background: none; */
    /* border: 0; */
    /* color: black; */
    
    text-align: center;
}
input::placeholder {
    color:black;
    text-align: center;
    text-decoration: underline white;
}

h4 {
    color: #ffeaa7;
}

ul{
    list-style: none;
    padding: 0;
}

li {
    margin-left: -40px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.js-greetings{
    font-size: 30px;
    border-bottom: 2px solid white;
    margin-bottom: 10px;
}

.js-clock span{
    font-size: 100px;
}

.js-weather {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10px;
    top: 0;
}

.form {
    display: none;
}

.showing {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    animation: fadeIn 0.5s linear;
}

